@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-b: #244D3F;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.btn-bg,.bg {
  background-color: var(--bg-b);
}