@import "tailwindcss";
@plugin "daisyui" {
   themes: light;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-b: #244D3F;
}

.btn-bg,.bg {
  background-color: var(--bg-b);
}

p {
  font-size: 12px;
}